
@{
    ViewBag.Title = "Đặt hàng thành công";
}

<div class="container">
    <div style="display: flex;">
        <h2>Đặt hàng thành công</h2>
        <i class="fa-sharp fa-solid fa-check" style="font-size: 36px; color: #20df1d; margin-left: 10px;"></i>
    </div>
    <div>
        <button class="btn btn-success" style="margin-left: 10px;"><a href="@Url.Action("Home","Home", new {area=""})" style="color: white;">Trở về trang chủ</a></button>
    </div>
</div>




