@using Ecommerce_KTPM.Models
@{
    ViewBag.Title = "Contact";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="@Url.Action("Home", "Home")">Trang chủ</a>
                <a class="breadcrumb-item text-dark" href="@Url.Action("Contact", "Home")">Liên hệ</a>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Liên hệ chúng tôi</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                @using (Html.BeginForm("GuiHoTro", "Home", FormMethod.Post, new { id = "contactForm", novalidate = "novalidate", name = "sentMessage" }))
                {
                    if (ViewBag.usc != null)
                    {
                        <p class="alert alert-warning">@ViewBag.mess</p>
                    }
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Tên của bạn" name="name"
                               required="required" data-validation-required-message="Nhập tên của bạn" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Email của bạn" name="email"
                               required="required" data-validation-required-message="Nhập vào Email của bạn" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Chủ đề" name="chude"
                               required="required" data-validation-required-message="Nhập chủ đề của bạn" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8" id="floatingTextarea" placeholder="Nội dung" name="noidung"
                                  required="required"
                                  data-validation-required-message="Enter..."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Gửi ngay
                        </button>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-30">
                <iframe style="width: 100%; height: 250px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.3473580934397!2d106.68909117371713!3d10.861162957627727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175283bcfe80471%3A0x6ae3e01ab1474e50!2zVsaw4budbiBMw6BpLCBBbiBQaMO6IMSQw7RuZywgUXXhuq1uIDEyLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1682411777258!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

